@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --nav-bg: var(--nav-bg);
}

body {
  width: 100%;
  height: 100vh;
  color: var(--primary-color);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

/* Header color&change color on slide */
header {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}
/* ------------------------------------------------------------- */
/* NAV-TAB */
.slider .nav-item {
  font-size: 1rem;
  color: var(--main-white);
  font-weight: bold;
}

.slider #multiOne:active {
  background-color: var(--gallery-color-1);
}

.slider #multiTwo:active {
  background-color: var(--gallery-color-2);
}

/* ------------------------------------------------------------- */
.slider__wrapper > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transform: translate(-100%, 0);
}

.slider__wrapper > .slide-animation {
  transition: transform 0.5s;
}

.slider__wrapper > .active {
  transform: translate(0, 0);
}

.slider__wrapper > .move-right {
  transform: translate(100%, 0);
}

.slider__wrapper {
  position: relative;
  width: 100vw;
  min-height: 1024px;
  overflow-x: hidden;
}

.slider__wrapper .page1_2_3 {
  font-size: 2rem;
  color: var(--main-white);
}

.slider__wrapper .page1-text {
  width: 50%;
  height: max-content;
}

/* SETTING UP THE GRID */
.image-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
}

.image-grid .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  opacity: 0.8;

  background-color: #9e5406;
  opacity: 0.8;
  transition: 0.6s;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-grid .card:hover {
<<<<<<< HEAD
  background-color: #9e5406;
  transition: 0.7s;
  opacity: 1;
}

.image-grid .card h3 {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--main-white);
  font-size: 2rem;
  padding-bottom: 3rem;
}

.image-grid .card h3:hover {
  transition: 0.7s;
  font-size: 2.5rem;
  padding-bottom: 0;
=======
  opacity: 1;
>>>>>>> e4af79f6471c64d51d525c348f8b6db6b4c6fcfd
}

.color-1 {
  background-color: var(--gallery-color-1);
}
.color-2 {
  background-color: var(--gallery-color-2);
}
.color-3 {
  background-color: var(--gallery-color-3);
}
.color-4 {
  background-color: var(--gallery-color-4);
}
.color-5 {
  background-color: var(--gallery-color-5);
}
